<div class="header">
  <h3 ng-init="UC.session(); UC.getUser()">Hi {{ UC.currentUser }}!</h3>
  <a href="#!/">Home</a> | <a href="#!/ques/new_ques">Add a Question</a> | <a href="" ng-click="UC.logout()">Log Out</a>
</div>

<div ng-controller="QuestionsController as QC">
  <input placeholder="Filter by Question" ng-model="question">

  <table ng-init="QC.index()">
    <tbody>
      <tr>
        <th>Question</th>
        <th>Answers</th>
        <th>Actions</th>
      </tr>

      <tr ng-repeat="question in QC.questions | filter: question">
        <td>{{ question.question }}</td>
        <td>{{ question.answers.length }}</td>
        <td><a href="/#!/ques/{{ question._id }}">show</a> <a href="#!/ques/{{ question._id }}/ans">answer</a></td>
      </tr>
    </tbody>
  </table>

</div>
