<div ng-controller="QuestionsController as QC" ng-init="UC.session(); UC.getUser()">
  <a href="#!/">Home</a> | <a href="#!/ques/{{ QC.question._id }}/ans">Answer this Question</a> | <a href="" ng-click="UC.logout()">Log Out</a>

  <div ng-init="QC.show()">
    <h2>{{ QC.question.question }}</h2>
    <p>Description: {{ QC.question.description }}</p>
    <hr>

    <div ng-repeat="answer in QC.question.answers | orderBy: '-likes'">
      <p>Author: {{ answer.author }}</p>
      <h4>Anwser: {{ answer.answer }}</h4>
      <p>Details: {{ answer.details }}</p>
      <p>{{ answer.likes }} Likes</p>
      <button type="button" ng-click="QC.addLikes(answer._id)">Like!</button>
    </div>
  </div>

</div>
